<ion-modal-view>
  <ion-header-bar  class="{{tema}}">
  
    <div class="buttons">
      <button class="button icon-left ion-ios-arrow-thin-left button-clear " ng-click="closefoto()"></button>
    </div>
	    <p class="title_bar" ng-click="closefoto()">Voltar</p>
  </ion-header-bar>
  <ion-content>
   <img ng-src="{{foto}}" class="foto-perfil" >

<div class="list" >
	
<div class="list">
	<label class="item item-input item-select">
    <div class="input-label">Tipo</div>
    <select ng-model="tipo"  >
      <option>Informar</option>
      <option selected>Denunciar</option>
    </select>
  </label>
   <label class="item item-input item-select">
   <div class="input-label" >Assunto</div>
   <select  name="assunto" ng-model="assunto" >
    <option selected value='Foco do Mosquito'>Foco do mosquito</option>
    <option value='Água acumulada'>Água acumulada</option>
    <option value='Casa abandonada com foco'>Casa Abandonada com foco</option>
    <option value='Entulho de demolição'>Entulho de demolição</option>
    <option value='Lixo acumulado'>Lixo acumulado</option>
    <option value='terreno baldio'>Terreno baldio</option>
    <option value='Reservatório descoberto'>Reservatório de água descoberto</option>
	<option value='Outros Temas da Dengue'>Outros Temas da Dengue</option>
                     
  </select>	
  </label>	
	
	
  <label class="item item-input item-stacked-label">
    <div class="input-label">Comentário</div>
    <input type="text" placeholder="Escreva um comentário" ng-model="comentario">
  </label>
  <label class="item item-input item-stacked-label">
	  <div class="input-label">Localização</div>
    <input type="text" readonly placeholder="Localização com GPS..." ng-model="localizacao">
  </label>
	  <label class="item item-input item-stacked-label">
	  <div class="input-label">Endereço</div>
    <input type="text" placeholder="Endereço..." ng-model="endereco">
  </label>

</div>

<div class="button-bar">
  <a class="button ion-upload" ng-click="enviarFoto(nome)"> Enviar</a>
  <a class="button ion-android-camera" ng-click="limpar()"> Nova Foto</a>
</div>

</div>



  </ion-content>

  <button class="camera" ng-show="btn2" ng-click="carregarFoto()"> <i class="ion-android-camera camera"></i></button>
 

</ion-modal-view>
