<ion-view view-title="<h6 class='title_bar2'>Colaborações</h6>">
<!--
 <ion-header-bar class="bar bar-header {{tema}}">
  <h1 class="title">bar-royal</h1>
  <ion-nav-buttons side="right">
	<button class="button button-clear icon ion-android-more-vertical" ng-click="help()" ></button>
  </ion-nav-buttons>
 </ion-header-bar>
 -->


    <ion-content>
        <div id="map" data-tap-disabled="true"></div>

    </ion-content>
    <!--
    	  <ion-footer-bar class="bar bar-footer "  >
        <label style="color:white" >{{qtdMensagemNova}}</label>
        <img ng-src="ico/legenda.png" width="320px">

        </ion-footer-bar>
    -->

</ion-view>
