<ion-view  view-title="<h6 class='title_bar2'>Minhas Colaborações</h6>" >
 <ion-content class="padding"  >
   <ion-refresher
    pulling-text="Refresh..."
    on-refresh="pegaStatusUsuario()">
  </ion-refresher>

 <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Pesquisa" ng-model="criterioDeBusca">
  </label>
</div>
<ion-list class="list card" ng-repeat="pega in listaUsuario | filter:criterioDeBusca">

  <div class="item item-avatar">
    <img src="{{pega.perfil}}" ng-click="mostraFoto(pega.perfil,pega.nome)">

    <h2>{{pega.nome}}</h2>
    <p style="color:darkgray">{{pega.data_hora | date:'medium' }} </p>


  </div>
  <div class="item item-body">
    <h3  style="color:green">{{pega.assunto | uppercase}}</h3>
    <h3 style="color:darkgray"><i class="icon ion-location" style="color:black"></i> {{pega.endereco}}</h3>
 <!--   <h3 style="color:darkgray"><i class="icon ion-location" style="color:black"></i> {{pega.localizacao}} - {{pega.endereco}}</h3> -->
    <p style="color:black">{{pega.descricao}}</p>


 </div>
 <img class="full-image" src="{{pega.foto}}" ng-show="{{pega.foto}}" ng-click="mostraFoto(pega.foto,pega.descricao)">
 <div class="filter">
    <video id="my-video"   class="fillWidth video-js" controls preload="auto" ng-show="{{pega.video}}"  data-setup="{}">
     <source ng-src="" dynamic-url dynamic-url-src="{{pega.video}}" type='video/mp4'>
 </video>

 </div>


<!-- <img class="full-image" src="images/play-in.png" ng-click="mostraVideo($index)" ng-show="{{pega.video}}"> -->
<!--   <video id="VideoPlay" controls loop ng-show="{{pega.video}}"><source src="{{pega.video}}" type="video/mp4"/></video>
   <a id="play" class="button button-block {{btn_tema}}" ng-click="videoplay()" ng-show="{{pega.video}}"> Play</a>  -->
  <h6 style="color:gray"> <i class="icon ion-location placeholder-icon"></i>{{pega.localizacao}}</h6>
  <h6 style="color:blue" ng-show="{{pega.protocolo}}"> Protocolo: {{pega.protocolo}}</h6>

  </div>

</ion-list>

<button class="button button-block button-assertive" ng-show="btn">
  Sem novos resultados
</button>

<ion-infinite-scroll

  distance="1%"
  on-infinite="paginacaoUsuario()">
</ion-infinite-scroll>

</ion-content>



</ion-view>
