<ion-modal-view>
    <ion-header-bar class="bar bar-header {{tema}}">
    <h1 class="title">Temas</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeTema()">Fechar</button>

    </div>
  </ion-header-bar>
  <ion-content >
<button class="button button-block button-light" ng-click="mudaTema('light','tabs-color-black')">
  Light
</button>

<button class="button button-block  button-stable" ng-click="mudaTema('stable','tabs-color-black')">
  Stable
</button>

<button class="button button-block  button-positive" ng-click="mudaTema('positive','tabs-color-light')">
  Positive
</button>

<button class="button button-block  button-calm" ng-click="mudaTema('calm','tabs-color-light')">
  Calm
</button>

<button class="button button-block button-balanced" ng-click="mudaTema('balanced','tabs-color-light')">
  Balanced
</button>

<button class="button button-block button-energized" ng-click="mudaTema('energized','tabs-color-light')">
  Energized
</button>

<button class="button button-block button-assertive" ng-click="mudaTema('assertive','tabs-color-light')">
  Assertive
</button>

<button class="button button-block button-royal" ng-click="mudaTema('royal','tabs-color-light')">
  Royal
</button>

<button class="button button-block button-dark" ng-click="mudaTema('dark','tabs-color-light')">
  Dark
</button>
</ion-content>
</ion-view>

</ion-modal-view>