END-USER LICENSE AGREEMENT FOR DRIVERTOOLKIT
===========================

1. LICENSE AGREEMENT 
IN THIS LICENSE, "THE PRODUCT" INDICATES THE PRODUCT "DRIVERTOOLKIT". 
THIS END-USER LICENSE AGREEMENT (EULA) IS A LEGAL AGREEMENT BETWEEN YOU (EITHER AN INDIVIDUAL OR A SINGLE ENTITY) AND MEGAIFY SOFTWARE.
BY DOWNLOADING, INSTALLING OR OTHERWISE USING THE PRODUCT, YOU ARE DEEMED TO AGREE TO BE BOUND BY THE TERMS OF THIS LICENSE. 
MEGAIFY SOFTWARE PERMITS YOU TO USE THE PRODUCT ONLY IN ACCORDANCE WITH THE TERMS OF THIS LICENSE AND YOUR RIGHTS UNDER THIS LICENSE WILL TERMINATE AUTOMATICALLY WITHOUT NOTICE IF YOU FAIL TO COMPLY WITH THE TERMS OF THIS LICENSE. IF YOU DO NOT AGREE TO THE TERMS OF THIS EULA, DO NOT INSTALL OR USE THE SOFTWARE PRODUCT. 

2. PRODUCT LICENSE 
IN CONSIDERATION OF YOUR AGREEING TO ABIDE BY THE TERMS OF THIS LICENSE AND SUBJECT TO YOUR COMPLIANCE WITH THE TERMS OF THIS LICENSE, MEGAIFY SOFTWARE GRANTS YOU THE RIGHT TO INSTALL AND USE COPIES OF THE PRODUCT ON YOUR COMPUTER RUNNING A VALIDLY LICENSED COPY OF THE OPERATING SYSTEM FOR WHICH THE PRODUCT WAS DESIGNED FOR [E.G., WINDOW XP, WINDOWS 2003, WINDOWS VISTA, WINDOWS 2008, WINDOWS 7, WINDOWS 8].
IF YOU HAVE PURCHASED A LICENSE TO USE THE PRODUCT, YOU MAY INSTALL MULTIPLE COPIES OF THE PRODUCT ON YOUR COMPUTERS FOR YOUR EXCLUSIVE USE ONLY BASED ON THE LICENSE YOU PURCHASED.
YOU MAY NOT ACTIVE THE PRODUCT ON ANY SYSTEM WITH MORE THAN THE NUMBER OF COMPUTERS PERMITTED BY YOUR LICENSE.
YOU MAY NOT RESELL, CHARGE FOR, SUB-LICENSE, RENT, LEASE, LOAN THE PRODUCT WITHOUT OUR PRIOR WRITTEN CONSENT. WE RESERVE THE RIGHT TO WITHDRAW ANY SUCH CONSENT (OR PART THEREOF) FOR ANY REASON AND WITHOUT NOTICE AND TO DEMAND THAT YOU IMMEDIATELY CEASE ANY ACTIVITY IN RESPECT OF WHICH PERMISSION IS WITHDRAWN.
YOU MAY NOT REPACKAGE, ADAPT, VARY, MODIFY, ALTER, CREATE DERIVATIVE WORKS BASED UPON, OR INTEGRATE ANY OTHER COMPUTER PROGRAMS WITH, THE PRODUCT IN WHOLE OR IN PART.
YOU MAY NOT DISTRIBUTE REGISTERED COPIES OF THE PRODUCT TO THIRD PARTIES. FREE VERSION AVAILABLE FOR DOWNLOAD FROM THIS WEBSITES MAY BE FREELY DISTRIBUTED.
YOU MAY NOT DECOMPILE, DISASSEMBLE, REVERSE ENGINEER TO THE PRODUCT, EXCEPT AND ONLY TO THE EXTENT THAT SUCH ACTIVITY IS EXPRESSLY PERMITTED BY APPLICABLE LAW NOTWITHSTANDING THIS LIMITATION.
YOU ARE NOT PERMITTED TO GRANT ANY SUB-LICENSES OF THE PRODUCT.
ANY CONDUCT THAT INVOLVES THE USE OF ABUSIVE, DEROGATORY, INSULTING, THREATENING, VULGAR OR SIMILARLY UNREASONABLE LANGUAGE OR BEHAVIOR DIRECTED AT ANY OF OUR PRODUCTS OR CUSTOMER SERVICE WHETHER IT BE IN PERSON, OVER THE PHONE, OR IN WRITING WILL LEAD TO THE TERMINATION OF YOUR SERVICE AND LICENSE WITHOUT NOTICE.
MEGAIFY SOFTWARE RESERVES THE RIGHT TO INTERRUPT, SUSPEND OR CANCEL YOUR SERVICE AND TERMINATE YOUR LICENSE WITHOUT ADVANCE NOTICE FOR ANY REASON.

3. REFUND
MEGAIFY SOFTWARE STANDS BEHIND ITS PRODUCTS AND OFFERS A LIMITED 60 DAY WARRANTY ON ALL SOFTWARE PURCHASES. OUR 60 DAY GUARANTEE COMMENCES FROM THE DATE OF PRODUCT SHIPMENT, WHETHER HARD COPY OR DIGITAL. NO REFUND WILL BE GRANTED AFTER THIS 60 DAY PERIOD HAS ELAPSED.
REFUND REQUESTS SHOULD BE SUBMITTED TO SUPPORT@DRIVERTOOLKIT.COM. IN YOUR REFUND REQUEST, PLEASE SPECIFY YOUR FULL NAME, YOUR PROOF OF PURCHASE AND A REASON WHY YOU WOULD LIKE A REFUND.
REFUND WITH VALID REASON ONLY. DISSATISFACTION ALONE IS NOT A VALID REASON FOR A REFUND. WE ASK THAT CUSTOMERS FIRST WORK WITH US TO RESOLVE THEIR ISSUES. IN SOME INSTANCES CUSTOMERS REQUESTING REFUNDS MISTAKENLY BELIEVE THE SOFTWARE WILL NOT WORK ON THEIR SYSTEM. OUR SUPPORT STAFF WILL WORK WITH YOU TO SOLVE YOUR PROBLEMS.
IF YOU FILE A DISPUTE WITH PAYPAL OR FILE A CHARGEBACK REQUEST WITH YOUR CREDIT CARD COMPANY, YOUR LICENSE KEY AND SERVICE WITH US WILL BE TERMINATED IMMEDIATELY WITHOUT NOTICE.
PLEASE NOTE THAT A CUSTOMER WILL BE GRANTED ONE MONEY BACK. NO REPEAT MONEY BACKS ARE ALLOWED AS A SAFEGUARD AGAINST FRAUDULENT PRACTICES. MEGAIFY SOFTWARE RESERVES THE RIGHT TO APPROVE/DISAPPROVE YOUR REQUEST ON AN INDIVIDUAL CASE TO CASE BASIS.

4. PRODUCT UPGRADES
MINOR VERSION UPGRADES SUCH AS BUG FIXES AND PRODUCT ENHANCEMENTS ARE FREE TO ELIGIBLE USERS. MAJOR SOFTWARE VERSION CHANGES (EX V8.X -> V9.X) ARE ON AN UPGRADE PRICE FEE.

5. INTELLECTUAL PROPERTY RIGHTS
THE PRODUCT IS INTELLECTUAL PROPERTY OF MEGAIFY SOFTWARE AND IS PROTECTED BY LAW. YOU ACKNOWLEDGE THAT ALL INTELLECTUAL PROPERTY RIGHTS IN THE PRODUCT ANYWHERE IN THE WORLD BELONG TO MEGAIFY SOFTWARE, THAT RIGHTS IN THE PRODUCT ARE LICENSED (NOT SOLD) TO YOU, AND THAT YOU HAVE NO RIGHTS IN, OR TO, THE PRODUCT OTHER THAN THE RIGHT TO USE THEM IN ACCORDANCE WITH THE TERMS OF THIS LICENSE.

6. LIMITATION OF LIABILITY
IN NO CIRCUMSTANCES WILL MEGAIFY SOFTWARE BE LIABLE TO YOU FOR ANY DAMAGES, CLAIMS OR COSTS WHATSOEVER (WHETHER IN CONTRACT, TORT, NEGLIGENCE OR OTHERWISE) INCLUDING, WITHOUT LIMITATION, ANY LOST PROFITS, LOST SAVINGS, LOST INFORMATION, LOSS OF DATA NOR ANY CONSEQUENTIAL, INDIRECT, INCIDENTAL DAMAGES. THE FOREGOING LIMITATIONS AND EXCLUSION APPLY TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW IN YOUR JURISDICTION. NOTHING IN THIS LICENSE LIMITS MEGAIFY SOFTWARE'S LIABILITY TO YOU IN THE EVENT OF DEATH OR PERSONAL INJURY RESULTING FROM OUR NEGLIGENCE OR FOR FRAUD. THE PROVISIONS OF THIS SECTION 6 SHALL SURVIVE THE TERMINATION OF THIS LICENSE HOWSOEVER CAUSED.

7. LAW AND JURISDICTION
THIS LICENSE AND ANY DISPUTE OR CLAIM ARISING OUT OF OR IN CONNECTION WITH IT OR ITS SUBJECT MATTER OR ITS FORMATION (INCLUDING NON-CONTRACTUAL DISPUTES OR CLAIMS) SHALL BE GOVERNED BY AND CONSTRUED IN ACCORDANCE WITH ENGLISH LAW AND SUBMITTED TO THE NON-EXCLUSIVE JURISDICTION OF THE ENGLISH COURTS.

8. GENERAL
IF ANY PART OF THIS LICENSE IS FOUND TO BE VOID AND UNENFORCEABLE IT WILL NOT AFFECT THE VALIDITY OF THE REMAINDER OF THIS LICENSE, WHICH SHALL REMAIN VALID AND ENFORCEABLE ACCORDING TO ITS TERMS. THIS LICENSE MAY ONLY BE VARIED IN WRITING AND SIGNED BY AN AUTHORIZED REPRESENTATIVE OF MEGAIFY SOFTWARE.
UPDATES MAY BE LICENSED TO YOU BY MEGAIFY SOFTWARE WITH ADDITIONAL OR DIFFERENT TERMS BUT MEGAIFY SOFTWARE HAS NO OBLIGATION TO PROVIDE ANY UPDATES.
THIS LICENSE IS THE ENTIRE AGREEMENT BETWEEN YOU AND US AND SUPERSEDES ANY PRIOR REPRESENTATIONS, UNDERTAKINGS OR ADVERTISING RELATING TO THE PRODUCT AND YOU ACKNOWLEDGE THAT IN ENTERING INTO THIS LICENSE YOU HAVE NOT RELIED ON ANY STATEMENT, REPRESENTATION, ADVERTISING, ASSURANCE OR WARRANTY (WHETHER MADE NEGLIGENTLY OR INNOCENTLY) OTHER THAN AS EXPRESSLY SET OUT IN THIS LICENSE.
MEGAIFY SOFTWARE IS ENTITLED TO TRANSFER OR ASSIGN ANY OF ITS RIGHTS OR OBLIGATIONS UNDER THE LICENSE.

COPYRIGHT (C) 2006-2014 WWW.DRIVERTOOLKIT.COM
